<div class="color">
  <footer>
    <span>Contact Info:</span>
    <ul>
      <li>
        <a href="mailto: animemebersclub@anime.com">Send Email</a>
      </li>
      <li>Tel: 555-666-7777</li>
    </ul>

    <p>&copy; Copyright 2023</p>
  </footer>
</div>
