<header>

    <img src="/img/anime.jpg" alt="anime club">
  
  
    <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/members">Members List</a>
        </li>
      
        <li>
          <a href="/members/create">Create Member</a>
      </li>
      </ul>
</header>

