<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./components/header.ejs') %>

    <div class="mainContainer">
      <h3>Information about our organisation</h3>

      <span
        >Hello and welcome to our anime club! We are a group of enthusiastic
        anime fans who gather regularly to explore the amazing world of anime
        and manga. With us, you can meet like-minded people, discuss your
        favorite series, and share your love for anime. We organize screenings
        of various anime series and movies, host cosplay events, and participate
        in anime conventions. Whether you're a beginner or an experienced anime
        fan, you are welcome to join us and become a part of our
        community!</span
      >
    </div>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
