<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('./components/header.ejs') %>

    <div class="mainContainer">
        <p class="memberTitle">Here you can se all of our members, feel free to click on their name!</p>

    
        <button onclick="sortMembers('default')">Default</button>
        <button onclick="sortMembers('asc')">A-Ö</button>
        <button onclick="sortMembers('desc')">Ö-A</button>
      <div class="membersList">
        <% members.forEach((member) => { %>
        <div class="memberCard">
            <a href="/member/<%= member._id%>"><h3><%=member.name%></h3></a>
        </div>
        <% })%>
    </div>
    </div>

    <%- include('./components/footer.ejs') %>
    <script>
      function sortMembers(sortType) {
        window.location.href = `/members?sort=${sortType}`;
      }
    </script>
  </body>
</html>
